body{
	font-family: arial
	background-color:silver;
}
fieldset{
	display: inline-flex;
	background: silver;
}
form{
	display flex;
	justify-content: center;
}
input{
	width: 100px;
	height: 30px;
	margin:5px;
	
}

textarea{
	width: 300px;
	height: 50px;
	margin:10px;
}
